<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lamp.dao.PaperDao">
    <!-- 주보 생성 -->
    <insert id="createpaper" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO paper (title, guidename, prayname, respname, offername, ccm, todaybible, paragraph, sentence, notice, notice1, notice2, notice3, speachname, nprayname, nrespname, noffername)  VALUES (#{title}, #{guidename}, #{prayname}, #{respname}, #{offername}, #{ccm}, #{todaybible}, #{paragraph}, #{sentence}, #{notice}, #{notice1}, #{notice2}, #{notice3}, #{speachname}, #{nprayname}, #{nrespname}, #{noffername})
    </insert>

    <!-- 주보 목록 -->
    <select id="list">
        SELECT * from paper
    </select>

    <!-- 주보 보기 -->
    <select id="paper">
        SELECT * from paper where idx=#{idx}
    </select>
</mapper>